openapi: 3.1.0
info:
  title: Valgate API v1
  version: 1.0.0
  description: |
    Single source of truth for the Valgate API contract. Used by:
    - Web (Next.js) route handlers
    - iOS (SwiftUI) API client

servers:
  - url: https://srv1839855.tail98085b.ts.net/api/v1
    description: Staging
  - url: /api/v1
    description: Local (Next.js dev server)

# Authentication is handled by Clerk session cookie (browser) or Clerk JWT token (iOS).
# The API does not use a separate API key header.

paths:
  /me:
    get:
      operationId: getMe
      summary: Get current user's profile
      description: Returns the caller's own profile (email, displayName, role, orgName).
      responses:
        "200":
          description: User profile found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeDto"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /properties:
    get:
      operationId: listProperties
      summary: List org properties (paginated)
      description: |
        Opaque-cursor page of the caller's org's properties.
        Pass the `nextCursor` from the previous response as the new `cursor`.
      parameters:
        - name: limit
          in: query
          description: Number of items per page (1-100). Defaults to 20.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          description: Opaque cursor from the previous page's `nextCursor`.
          schema:
            type: string
      responses:
        "200":
          description: Paginated property list
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/PropertyListItemDtoV1"
                  nextCursor:
                    type: string
                    nullable: true
                    description: Cursor for the next page. Null if no more pages.
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      operationId: createProperty
      summary: Create a property
      description: Creates a new property under the caller's organization.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, type, status, lat, lng, buyNumeric, totalArea, title]
              properties:
                name:
                  type: string
                  minLength: 1
                type:
                  type: string
                  enum: [residential, commercial, multi-unit, retail, land, industrial, construction, other]
                status:
                  type: string
                  enum: [Rented, Vacant, For Sale, Sold, Archived, Owner-Occupied]
                lat:
                  type: number
                  minimum: -90
                  maximum: 90
                lng:
                  type: number
                  minimum: -180
                  maximum: 180
                buyNumeric:
                  type: number
                  minimum: 0
                totalArea:
                  type: string
                title:
                  type: string
                  enum: [Hard title, Soft title, "—"]
                addressLine:
                  type: string
                city:
                  type: string
                province:
                  type: string
                zip:
                  type: string
                country:
                  type: string
      responses:
        "201":
          description: Property created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PropertyDetailDtoV1"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /properties/{id}:
    get:
      operationId: getPropertyDetail
      summary: Get a single property's detail
      description: Returns a property's detail DTO, scoped to the caller's org.
      parameters:
        - name: id
          in: path
          required: true
          description: Property ID
          schema:
            type: string
      responses:
        "200":
          description: Property detail found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PropertyDetailDtoV1"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    patch:
      operationId: updateProperty
      summary: Update a property
      description: Partially updates a property. Any omitted field is left unchanged.
      parameters:
        - name: id
          in: path
          required: true
          description: Property ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                type:
                  type: string
                  enum: [residential, commercial, multi-unit, retail, land, industrial, construction, other]
                status:
                  type: string
                  enum: [Rented, Vacant, For Sale, Sold, Archived, Owner-Occupied]
                lat:
                  type: number
                  minimum: -90
                  maximum: 90
                lng:
                  type: number
                  minimum: -180
                  maximum: 180
                buyNumeric:
                  type: number
                  minimum: 0
                totalArea:
                  type: string
                title:
                  type: string
                  enum: [Hard title, Soft title, "—"]
                addressLine:
                  type: string
                city:
                  type: string
                province:
                  type: string
                zip:
                  type: string
                country:
                  type: string
      responses:
        "200":
          description: Property updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PropertyDetailDtoV1"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      operationId: deleteProperty
      summary: Delete a property
      description: Deletes a property. Idempotent — returns 204 even if already deleted.
      parameters:
        - name: id
          in: path
          required: true
          description: Property ID
          schema:
            type: string
      responses:
        "204":
          description: Property deleted (or already absent)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /properties/{id}/documents:
    post:
      operationId: uploadPropertyDocument
      summary: Upload one document for a property
      description: Uploads one allowed file for a property in the caller's org. Storage identifiers are never client inputs or response fields.
      parameters:
        - name: id
          in: path
          required: true
          description: Property ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              additionalProperties: false
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "201":
          description: Document uploaded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentUploadDtoV1"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /properties/{id}/leases:
    get:
      operationId: listPropertyLeases
      summary: List a property's leases
      description: |
        Returns the public lease summary for a property, scoped to the caller's org.
        Never includes tenant linkage or payment/expense metadata.
      parameters:
        - name: id
          in: path
          required: true
          description: Property ID
          schema:
            type: string
      responses:
        "200":
          description: Lease summary list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LeaseSummaryDtoV1"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /properties/{id}/valuations:
    get:
      operationId: listPropertyValuations
      summary: List a property's valuations
      description: |
        Returns the public valuation history for a property, scoped to the caller's org.
        Never includes propertyId (implied by the path) or any internal/hidden fields.
      parameters:
        - name: id
          in: path
          required: true
          description: Property ID
          schema:
            type: string
      responses:
        "200":
          description: Valuation list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ValuationSummaryDtoV1"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

components:
  schemas:
    MeDto:
      type: object
      required: [email, displayName, role, orgName]
      properties:
        email:
          type: string
          format: email
        displayName:
          type: string
          nullable: true
        role:
          type: string
          description: "orgRole from the auth context"
        orgName:
          type: string

    PropertyListItemDtoV1:
      type: object
      required: [id, name, type, status, city, province, lat, lng, createdAt]
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          description: Property type (e.g. apartment, house, condo)
        status:
          type: string
          description: "Property status (e.g. active, inactive, cancelled)"
        city:
          type: string
          nullable: true
        province:
          type: string
          nullable: true
        lat:
          type: number
        lng:
          type: number
        createdAt:
          type: integer
          description: Unix timestamp (milliseconds)

    PropertyDetailDtoV1:
      allOf:
        - $ref: "#/components/schemas/PropertyListItemDtoV1"
      type: object
      required: [addressLine, country, totalArea, bedrooms, bathrooms, yearBuilt]
      properties:
        addressLine:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
        totalArea:
          type: string
        bedrooms:
          type: string
          nullable: true
        bathrooms:
          type: string
          nullable: true
        yearBuilt:
          type: string
          nullable: true

    DocumentUploadDtoV1:
      type: object
      required: [id, propertyId, name, kind, mimeType, sizeBytes, uploadedAt]
      properties:
        id:
          type: string
        propertyId:
          type: string
        name:
          type: string
        kind:
          type: string
          enum: [photo, document]
        mimeType:
          type: string
        sizeBytes:
          type: integer
          minimum: 0
        uploadedAt:
          type: integer
          description: Unix timestamp (milliseconds)

    LeaseSummaryDtoV1:
      type: object
      required: [id, propertyId, unit, stage, startDate, endDate, monthlyRent, termMonths, renewalStatus]
      description: Public lease summary. Never includes tenantId or any payment/expense metadata.
      properties:
        id:
          type: string
        propertyId:
          type: string
        unit:
          type: string
        stage:
          type: string
          enum: [Approaching, Offered, Signed, Declined]
        startDate:
          type: integer
          description: Unix timestamp (milliseconds)
        endDate:
          type: integer
          description: Unix timestamp (milliseconds)
        monthlyRent:
          type: number
          minimum: 0
        termMonths:
          type: integer
          minimum: 1
        renewalStatus:
          type: string
          nullable: true

    ValuationSummaryDtoV1:
      type: object
      required: [id, price, valuationDate, month, recordedAt]
      description: Public valuation summary. Never includes propertyId (implied by the path).
      properties:
        id:
          type: string
        price:
          type: number
          minimum: 0
        valuationDate:
          type: integer
          description: Unix timestamp (milliseconds)
        month:
          type: string
          description: "'MMM YYYY' display label (e.g. 'Jan 2026')"
        recordedAt:
          type: integer
          description: Unix timestamp (milliseconds)

    ErrorEnvelope:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              enum: [unauthorized, invalid_request, not_found, rate_limited, internal_error]
            message:
              type: string

  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"

    InvalidRequest:
      description: Invalid query parameter or cursor
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"

    NotFound:
      description: Resource not found or not in caller's org
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"

    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"

    InternalError:
      description: Unexpected server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
